.ag-theme-material {
    background: #edf1f2;

    .ag-paging-button {
        cursor: pointer;
    }
}

.mat-checkbox-inner-container {
    width: 15px !important;
    height: 15px !important;
}

* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
