<div style="display: flex; flex-direction: column; height: 100%;">
    <button mat-raised-button (click)="goToBack()" color="primary" style="width: 100px">Back</button>
    <div fxLayout="row" style="height: 100%" fxLayout.sm="column" fxLayout.xs="column">
        <div class="flex" fxFlex.lg="40" fxFlex.md="35" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column">
            <div class="flex"
                fxFlex.lg="65"
                fxFlex.md="65"
                fxFlex.sm="65"
                fxFlex.xs="65"
                style="background: lightsteelblue; overflow: auto">

                <argus-accordion [data]="details"></argus-accordion>

                <argus-pdf [fileName]="fileName" [src]="src"></argus-pdf>
            </div>
            <div class="flex"
                fxFlex.lg="35"
                fxFlex.md="35"
                fxFlex.sm="35"
                fxFlex.xs="35"
                style="background: lightseagreen">
                <argus-grid [gridConfig]="gridConfig"></argus-grid>
            </div>
        </div>
        <div class="flex" fxFlex.lg="60" fxFlex.md="65" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column">
            <div fxFlex="33" style="background: lightblue" class="flex">
                <argus-grid [gridConfig]="gridConfig"></argus-grid>
            </div>
            <div fxFlex="33" style="background: lightgreen" class="flex">
                <argus-grid [gridConfig]="gridConfig"></argus-grid>
            </div>
            <div fxFlex="34" style="background: lightsalmon" class="flex">
                <argus-grid [gridConfig]="gridConfig"></argus-grid>
            </div>
        </div>
    </div>
    <div *ngIf="!isLoaded" class="spiner">
        <mat-spinner></mat-spinner>
    </div>
</div>

