<div style="height: 100%; display: flex; flex-direction: column;">
    <h1 style="line-height: inherit; text-align: center">
        {{ 'start.hello' | translate }}
    </h1>
    <split [direction]="'horizantal'">
        <split-area size="30" [order]="0">
            <argus-advanced></argus-advanced>
            <!-- <argus-select2 [data]="data"></argus-select2> -->
            <!-- <argus-select2 [data]="data1" [multi]="true" [placeholder]="'Select multiple...'" [allowClear]="true"></argus-select2> -->
        </split-area>
        <split-area size="70" [order]="1">
            <div style="display: flex">
                <argus-select2 #viewSelect [data]="views" (onSelect)="onSelect($event)"></argus-select2>
                <button mat-raised-button color="primary" (click)="openSetUpColumn()">Set up column</button>
                <button mat-raised-button color="primary" (click)="openExport()">Export</button>
            </div>
            <div style="height: calc(100% - 36px)">
                <argus-grid
                    class="ag-theme-material"
                    [gridOptions]="gridOptions"
                    [rowData]="rowData"
                    [columnDefs]="columnDefs"
                    (onGridColumnsChanged)="gridColumnsChanged()"
                    (rowDoubleClicked)="goDetailPage($event)">
                </argus-grid>
            </div>
        </split-area>
    </split>
    <div *ngIf="!isLoaded" class="spiner">
        <mat-spinner></mat-spinner>
    </div>
</div>